PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://neocredito:neocredito_pass@localhost:5432/neo_credito"
POSTGRES_USER=neocredito
POSTGRES_PASSWORD=neocredito_pass
POSTGRES_DB=neo_credito
JWT_SECRET=troque_por_um_segredo_longo_e_aleatorio
